<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
        <!-- Navbar section -->
        <a class="navbar-brand ml-2 font-weight-bold" href="#">
            <h2>
                <span id="burgundy">The</span><span id="orange">shop</span>
            </h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"
            aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor">
            <ul class="navbar-nav">
                <li class="nav-item rounded bg-light search-nav-item"><input type="text" id="search" class="bg-light"
                        placeholder="Search "><span class="fa fa-search text-muted"></span></li>
                <li class="nav-item">
                    <a class="nav-link ml-2" href="#"><span class="fa fa-user"></span><span
                            class="text">Login</span></a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span><span
                            class="text">Cart</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="filter">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter"
            aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
    </div>

    <!-- Sidebar filter section -->

    <section id="sidebar">
        <p> Home </p>
        <div class="border-bottom pb-2 ml-2">
            <h4 id="burgundy">Filters</h4>
        </div>
        <div class="py-2 border-bottom ml-3">
            <h6 class="font-weight-bold">Categories</h6><br>

            <form>
                <div class="form-group">
                    <input type="checkbox" id="artisan">
                    <label for="artisan">Fresh Artisan Breads</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="breakfast">
                    <label for="breakfast">Breakfast Breads</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="healthy">
                    <label for="healthy">Healthy Breads</label>
                </div>
            </form>
        </div>

    </section>
    <!-- products section -->
    <section id="products">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="text-muted m-2" id="res">Showing <%=productdata.length%> results</div>
                <div class="ml-auto mr-lg-4">
                    <div id="sorting" class="border rounded p-1 m-1">
                        <span class="text-muted">Sort by</span>
                        <select name="sort" id="sort">

                            <option value="prcie"><b>Price</b></option>
                            <option value="Name"><b>Name</b></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row">
                <% productdata.forEach(function(product) { %>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card mb-4">
                            <img class="card-img-top imgwidth" src="http://localhost:3030/uploads/<%= product.image %>">
                            <div class="card-body">
                                <h5><b>
                                        <%= product.ProductName%>
                                    </b></h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="product-description">
                                        <p>
                                            <%= product.description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row my-2">
                                    <div class="product-tags">
                                        <p>Categories:
                                            <% product.categoryNames.forEach(function(category) { %>
                                                <span class="tag">
                                                    <%= category %>
                                                </span>
                                                <% }); %>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">₹ <%= product.price %>
                                    </div>

                                    <div class="ml-auto">
                                        <button class="border rounded bg-white sign">
                                            <span class="fa fa-plus" id="orange"></span>
                                        </button>
                                        <span class="px-sm-1">
                                            <%= product.quantity%>
                                        </span>
                                        <button class="border rounded bg-white sign">
                                            <span class="fa fa-minus" id="orange"></span>
                                        </button>
                                    </div>
                                </div>
                                <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div><br />
                    <% }) %>
            </div>
        </div>
    </section>
</body>

</html>